@font-face {
  font-family: 'Haymaker';
  src: url('./fonts/Haymaker.woff2') format('woff2'),
      url('./fonts/Haymaker.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Haymaker', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}